
@font-face{
	font-family: "KaushanScript";
	src:url("~@/assets/font/KaushanScript.ttf");
}

@font-face{
	font-family: "Mansalva";
	src:url("~@/assets/font/Mansalva.ttf");
}

@font-face{
	font-family: "Gelasio";
	src:url("~@/assets/font/Gelasio.ttf");
}

@font-face{
	font-family: "FuturaStd";
	src:url("~@/assets/font/FuturaStd.otf");
}
